<section class="about-game" id="about-game">
  <div class="about-game_container container">
    <div class="about-game_left">
      <h2 class="title-h2">About This Game</h2>
      <p class="about-game_left-text">
        Match Valley reimagines the match-3 genre by combining it with RPG-style
        hero development and whimsical storytelling. Each puzzle level isn’t
        just about clearing the board — it’s about assembling your team,
        upgrading their skills, and holding back waves of quirky invaders
        threatening your kingdom.
      </p>
      <p>
        Players match symbols to activate abilities, unlock upgrades, and
        trigger powerful chain reactions. Your team grows stronger with each
        victory, allowing you to explore new valleys, uncover secrets, and face
        increasingly clever foes. With an offline mode, regular events, and new
        valleys added frequently, Match Valley is built to keep you engaged —
        whether for five minutes or five hours.
      </p>
    </div>
    <div class="about-game_right">
      <img src="./img/about-game.jpg" alt="about game" />
    </div>
  </div>
</section>
