<section class="benefits" id="benefits">
  <div class="benefits_container container">
    <h2 class="title-h2">Benefits</h2>
    <ul class="benefits_list">
      <li class="benefits_item">
        <div class="benefits-item-box">
          <img src="./img/sword.png" alt="sword" />
          <h3>Tactical Puzzle Combat:</h3>
        </div>
        <p>
          Your matches fuel hero attacks, turning puzzle play into active
          strategy.
        </p>
      </li>
      <li class="benefits_item">
        <div class="benefits-item-box">
          <img src="./img/sword.png" alt="sword" />
          <h3>Relaxing Yet Engaging:</h3>
        </div>
        <p>
          Levels are short, satisfying, and designed for players of all skill
          levels.
        </p>
      </li>
      <li class="benefits_item">
        <div class="benefits-item-box">
          <img src="./img/sword.png" alt="sword" />
          <h3>Rewarding Progression:</h3>
        </div>
        <p>
          Unlock new heroes, power-ups, and enchanted locations as you play.
        </p>
      </li>
      <li class="benefits_item">
        <div class="benefits-item-box">
          <img src="./img/sword.png" alt="sword" />
          <h3>Offline Accessibility:</h3>
        </div>
        <p>No internet? No problem. Take your puzzle fun with you on the go.</p>
      </li>
      <li class="benefits_item">
        <div class="benefits-item-box">
          <img src="./img/sword.png" alt="sword" />
          <h3>Replayable Challenges:</h3>
        </div>
        <p>
          Each valley features new enemies, objectives, and mechanics to keep
          the experience fresh.
        </p>
      </li>
      <li class="benefits_item">
        <div class="benefits-item-box">
          <img src="./img/sword.png" alt="sword" />
          <h3>Global Competition:</h3>
        </div>
        <p>
          Rise through the leaderboard and show your puzzle dominance worldwide.
        </p>
      </li>
    </ul>
  </div>
</section>
