<section class="faq" id="faq">
  <div class="faq_container container">
    <h2 class="title-h2">FAQ</h2>
    <div class="faq_content">
      <ul class="faq_list">
        <li class="faq-item">
          <h3 class="faq-item-title">
            Do I need an internet connection to play?
          </h3>
          <p class="faq-item-text">
            No, Match Valley is fully playable offline. However, connecting
            online lets you compete in leaderboards and earn special rewards.
          </p>
        </li>
        <li>
          <h3 class="faq-item-title">How do I unlock new heroes?</h3>
          <p class="faq-item-text">
            Heroes can be unlocked by progressing through levels, opening
            chests, or earning rewards in limited-time events.
          </p>
        </li>
        <li>
          <h3 class="faq-item-title">What do power-ups do?</h3>
          <p class="faq-item-text">
            Power-ups like Rainbow Bombs or Magic Wands help you clear large
            sections of the board, break through blockers, or trigger extra
            turns.
          </p>
        </li>
        <li>
          <h3 class="faq-item-title">What happens if I lose a level?</h3>
          <p class="faq-item-text">
            You can retry the level at no cost. Using boosters or upgrading your
            heroes may help on the next attempt.
          </p>
        </li>
        <li>
          <h3 class="faq-item-title">Are there ads or in-app purchases?</h3>
          <p class="faq-item-text">
            The game is free-to-play with optional purchases. Ads may appear but
            can be removed with certain packages.
          </p>
        </li>
      </ul>
      <div class="faq_content-right">
        <img src="./img/faq/owl.png" alt="owl 1" class="faq-owl-1 owl-width" />
        <img src="./img/faq/owl.png" alt="owl 2" class="faq-owl-2 owl-width" />
        <img src="./img/faq/owl.png" alt="owl 3" class="faq-owl-3 owl-width" />
        <img class="faq-big-hero" src="./img/faq/hero-1.png" alt="hero-1" />
        <img class="faq-small-hero-1" src="./img/faq/hero-2.png" alt="hero-2" />
        <img class="faq-small-hero-2" src="./img/faq/hero-3.png" alt="hero-3" />
        <img class="faq-small-hero-3" src="./img/faq/hero-4.png" alt="hero-4" />
      </div>
    </div>
  </div>
</section>
