<section class="hero">
  <div class="hero-container container">
    <div class="hero-left-box">
      <h1 class="title-h1">Match Valley:</h1>
      <h2>Defend, Match and Conquer</h2>
      <p>
        Step into a colorful puzzle adventure where match-3 gameplay meets
        hero-building action. In Match Valley, your puzzle-solving skills
        directly empower brave heroes as you defend magical castles from
        mischievous foes. With every match, your team grows stronger. Are you
        ready to explore enchanted valleys and unlock epic power?
      </p>
      <div class="hero-btn-list-box">
        <ul class="hero-list">
          <li>Match 3 to build and upgrade heroes</li>
          <li>Battle against quirky enemies and save your castle</li>
          <li>Discover new valleys full of secrets</li>
          <li>Play online or offline — anytime, anywhere</li>
        </ul>
        <a href="#" class="hero-btn">
          <svg class="hero-btn-icon">
            <use href="./img/sprite.svg#icon-googleplay"></use>
          </svg>
          Download Now
        </a>
        <img class="one-hero" src="./img/hero/hero.png" alt="hero" />
      </div>
    </div>
    <img class="heroes-img" src="./img/hero/heroes.png" alt="heroes" />
  </div>
</section>
