<section class="reviews" id="reviews">
  <div class="reviews_container container">
    <h2 class="title-h2">User Reviews</h2>
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper swiper-wrapper-reviews">
        <div class="swiper-slide">
        </div>

        <div class="swiper-slide swiper-slide-color">
        </div>

        <div class="swiper-slide">
        </div>

        <div class="swiper-slide swiper-slide-color">
        </div>

        <div class="swiper-slide">
        </div>
      </div>
    </div>
  </div>
</section>
