.cookies-section {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  width: 100%;
  background: #0b0c0c;
}

.cookies-container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  @media screen and (min-width: 1440px) {
    gap: 32px;
    flex-direction: row;
  }
}

.cookies-text {
  width: 100%;
  font-size: 18px;
  text-align: center;
  color: #fff;
  @media screen and (min-width: 1440px) {
    text-align: left;
  }
}

.cookies-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 32px;
  }
}

.cookies-button {
  width: 256px;
  height: 55px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

.cookies-accept-js {
  background: #fff;
  color: #0b0c0c;
  transition: all 0.3s ease;
}

.cookies-accept-js:hover {
  background: linear-gradient(180deg, #0183ff 0%, #022bd1 100%);
  color: #fff;
}

.cookies-decline-js {
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}

.cookies-decline-js:hover {
  background: linear-gradient(180deg, #0183ff 0%, #022bd1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: #022bd1;
}
